figcaption {
    display: block;
    float: right;
    position: absolute;
    background-color: #5b21b6;
    color: white;
    top: 1rem;
    right: 0;
    rotate: 45deg;
    
}

img
{
    position: absolute;
    z-index: -1;
    clear: right;
}